body{
  background-image: url("https://cdn.discordapp.com/attachments/914800949955018765/915919678688329748/yy.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
}
h1{
	text-decoration: underline;
}